{% extends 'layout.html' %}

{% block body %}
<!-- Add icon library -->

  <h1>Інструкція користувача</h1>
<p>Щоб провести експеримент, виконайте наступні інструкції:</p>
<p>1. Протренуйте модель</p>
<p>1.1. Перейдіть до сторінки "Тренування"</p>
<p>1.2. Додайте в модель усіх необхідних перекладачів</p>
<p>1.2.1. В текстовому полі додавання перекладача введіть ім'я перекладача та натисніть "Додати перекладача"</p>
<p>1.2.2. Якщо ви хочете видалити перекладача, нажміть кнопку "Видалити перекладача" в блоці потрібного вам перекладача</p>
<p>1.3. Завантажте текстові файли кожного перекладача</p>
<p>1.3.1. В блоці кожного перекладача нажміть кнопку "Завантажити". В діалоговому вікні виберіть всі необхідні вам файли формату *.txt. Нажміть "Відкрити". Завантажені файли відобразяться на сторінці.</p>
<p>1.3.2. Щоб видалити один файл, натисніть зрестик в блоці його зображення на сторінці.</p>
<p>1.4. Для тренування моделі нажміть кнопку "Тренувати"</p>
<p>2. Проведіть аналіз</p>
<p>2.1. Перейдіть до сторінки "Аналіз"</p>
<p>2.2. За допомогою кнопки "Завантажити" завантажте тестові файли. Завантажені файли відобразяться на сторінці</p>
<p>2.3. Для видалення одного файла натисніть лінк "Видалити" навпроти цього файла.</p>
<p>2.4. Щоб видалити одразу багато файлів, помітьте всі необхідні файли за допомогою чекбоксів та натисніть кнопку "Видалити обрані". Усі файли можна помітити, відмітивши чекбокс "Виюрати все"</p>
<p>2.5. Для проведення аналізу натисніть кнопку "Провести аналіз". В браузері буде завантажено Excel-файл з результатами аналізу.</p>
<p>3. Перегляньте результати аналізу</p>
<p>3.1. Відкрийте завантажений файл "Analysis.xlsx"</p>
<p>3.2. В листі "Близькості" містяться близькості кожного тексту до кожного перекладача за кожним параметром</p>
<p>3.3. В листі "Результати аналізу" містяться результати ідентифікації кожного тексту та загальні результати ідентифікації за кожним перекладачем</p>
	


{% endblock %}