{% extends 'layout.html' %}

{% block body %}
<!-- Add icon library -->

  <div class="jumbotron text-center jumbotronImg standartJ">
    <h1 class="headd">Інформаційна система з ідентифікації перекладача</h1>
  </div>
  <div class="text-center">
    <h1>Про автора та призначення системи</h1>
    <p align="left">Дана інформаційна система розроблена студентом групи ІС-61 Тодоровим Дмитром як програмний продукт дипломного проекту.</p>
    <p align="left">Призначенням програми є проведення експериментів для ідентифікації перекладача невідомого тексту методом порівняння близькості частотності грамів (буквосполучень) та частотності цілих слів.</p>
  </div>




{% endblock %}